ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  /* tira o tracinho de link debaixo dele */
  text-decoration: none;
  color:white
}

.separador{
  flex: 1;
}

.material-icons{
  font-size:48px;
  
}
