ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  /* tira o tracinho de link debaixo dele */
  text-decoration: none;
  color: white;
}

.separador {
  flex: 1;
}

.material-icons {
  font-size: 48px;
}

.barra {
  background-image: linear-gradient(
      45deg,
      rgb(73, 160, 30) 0%,
      rgb(73, 160, 30) 6%,
      rgb(88, 141, 55) 6%,
      rgb(88, 141, 55) 11%,
      rgb(103, 122, 81) 11%,
      rgb(103, 122, 81) 55%,
      rgb(118, 103, 106) 55%,
      rgb(118, 103, 106) 81%,
      rgb(132, 84, 131) 81%,
      rgb(132, 84, 131) 83%,
      rgb(147, 65, 156) 83%,
      rgb(147, 65, 156) 92%,
      rgb(162, 46, 182) 92%,
      rgb(162, 46, 182) 95%,
      rgb(177, 27, 207) 95%,
      rgb(177, 27, 207) 100%
    ),
    linear-gradient(
      112.5deg,
      rgb(73, 160, 30) 0%,
      rgb(73, 160, 30) 6%,
      rgb(88, 141, 55) 6%,
      rgb(88, 141, 55) 11%,
      rgb(103, 122, 81) 11%,
      rgb(103, 122, 81) 55%,
      rgb(118, 103, 106) 55%,
      rgb(118, 103, 106) 81%,
      rgb(132, 84, 131) 81%,
      rgb(132, 84, 131) 83%,
      rgb(147, 65, 156) 83%,
      rgb(147, 65, 156) 92%,
      rgb(162, 46, 182) 92%,
      rgb(162, 46, 182) 95%,
      rgb(177, 27, 207) 95%,
      rgb(177, 27, 207) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(73, 160, 30) 0%,
      rgb(73, 160, 30) 6%,
      rgb(88, 141, 55) 6%,
      rgb(88, 141, 55) 11%,
      rgb(103, 122, 81) 11%,
      rgb(103, 122, 81) 55%,
      rgb(118, 103, 106) 55%,
      rgb(118, 103, 106) 81%,
      rgb(132, 84, 131) 81%,
      rgb(132, 84, 131) 83%,
      rgb(147, 65, 156) 83%,
      rgb(147, 65, 156) 92%,
      rgb(162, 46, 182) 92%,
      rgb(162, 46, 182) 95%,
      rgb(177, 27, 207) 95%,
      rgb(177, 27, 207) 100%
    ),
    linear-gradient(90deg, rgb(24, 15, 143), rgb(170, 57, 157));
  background-blend-mode: overlay, overlay, overlay, normal;
}
