<div style="display: block">
  <mat-card>
    <!-- nome -->
    <p>
      <span class="material-icons"> person </span>
      {{ usuario.nome }}
    </p>
    <hr />
    <!-- email -->
    <p>
      <span class="material-icons"> contact_mail </span>
      {{ usuario.email }}
    </p>
    <hr />
    <!-- peso -->
    <span>
      <span class="material-icons"> monitor_weight </span>{{ ultimoPeso }} kg
    </span>
    <span class="separador"></span>
    <button mat-icon-button (click)="abrirAtualizarPeso()" aria-label="add">
      <span class="material-icons add"> add </span>
    </button>
    <hr>
    <!-- notificações -->
    <button mat-raised-button color="primary" (click)="lembrar()">Me lembre de treinar!</button>
  </mat-card>
  <canvas
    baseChart
    width="200"
    height="100"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
  >
  </canvas>
</div>
