<div class="corpo">
  <h1>Treinos Padrões</h1>
  <!-- matcard para os treinos padroes -->
  <mat-card *ngFor="let treino of listaTreinosPadroes">
    <mat-card-header>
      <mat-card-title>{{ treino.nome }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ treino.imagemURL }}" alt="Capa do Treino" />
    <a
      routerLink="/treino"
      mat-raised-button
      (click)="treinar(treino.nome, treino.exercicios)"
      color="primary"
      >Treinar</a
    >
  </mat-card>

  <div class="seu-treinos" *ngIf="autenticado">

    <h1>Seus Treinos</h1>

    <!-- mat-card para os treinos do usuario -->
    <mat-card *ngFor="let treino of listaTreinosUsuario; let i = index">
      <mat-card-header>
        <mat-card-title>{{ treino.nome }}</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="{{ treino.imagemURL }}" alt="Capa do Treino" />
      <mat-card-actions align="end" class="flex">
        <div class="espaçador">{{i}}</div>
        <a
          routerLink="/treino"
          mat-raised-button
          (click)="treinar(treino.nome, treino.exercicios)"
          color="primary"
          >Treinar</a
        >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="material-icons">more_vert</span>
        </button>
        <!-- menu q aparece ao clicar no ... -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item">
            <mat-icon>change_circle</mat-icon>
            <span style="color: rgb(206, 209, 20)">Atualizar</span>
          </button>

          <button mat-menu-item (click)="deletar(i)">
            <mat-icon>delete</mat-icon>
            <span style="color: red">Deletar</span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>

    <!-- mat-card de adicionar treinos -->
    <mat-card class="criar">
      <mat-card-header>
        <mat-card-title>Crie o seu treino</mat-card-title>
      </mat-card-header>

      <img
        mat-card-image
        src="https://raw.githubusercontent.com/yasukawa426/exercise-together/master/src/app/img/add.png"
        alt="+"
      />
      <button routerLink="/criar" mat-raised-button color="primary">
        Criar Novo Treino
      </button>
    </mat-card>
  </div>
</div>
