<!-- ira gerar um matcard pra cada treino na lista de treinos -->
<div class="corpo">
  <mat-card *ngFor="let treino of listaTreinos">
    <mat-card-header>
      <mat-card-title>{{ treino.nome }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ treino.imagemURL }}" alt="Capa do Treino" />

    <a
      routerLink="/treino"
      mat-raised-button
      (click)="treinar(treino.nome, treino.exercicios)"
      color="primary"
      >Treinar</a
    >
  </mat-card>
  <!-- mat-card de adicionar treinos -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Crie o seu treino</mat-card-title>
    </mat-card-header>

    <img
      mat-card-image
      src="https://raw.githubusercontent.com/yasukawa426/exercise-together/master/src/app/img/add.png"
      alt="+"
    />
    <button routerLink="/criar" mat-raised-button color="primary">Criar Novo Treino</button>
  </mat-card>
</div>

