<mat-card *ngFor="let treino of listaTreinos">
  <mat-card-header>
    <mat-card-title>{{ treino.nome }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="{{ treino.imagem }}" alt="Capa do Treino" />

  <!-- <p>{{treino.exercicios.flexao.nome}}</p>
  <p>{{treino.exercicios.flexao.repeticoes}}</p> -->
  <button mat-raised-button (click)="treinar(treino.nome, treino.exercicios)" color="primary">Treinar</button>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Crie o seu treino</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://raw.githubusercontent.com/yasukawa426/exercise-together/master/src/app/img/add.png" alt="+">
  <button mat-raised-button color="primary">Criar Novo Treino</button>
</mat-card>
<!-- <mat-accordion>
  <mat-expansion-panel>
  <mat-expansion-panel-header>Treinos</mat-expansion-panel-header>
  <p>Conteúdo</p>
  <p>Conteúdo</p>
</mat-expansion-panel>
</mat-accordion> -->
