mat-form-field,
mat-select {
width: 100%;
}

mat-form-field,
input {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.imagem-preview {
  height: 5rem;
  margin: 1rem 0;
}

.imagem-preview img {
  height: 100%;
}

mat-card{
  /* display: inline-block; */
  /* text-align: center; */
  border:1px solid black;
  margin-bottom: 10px;
}
