<form [formGroup]= "form" (submit)="onAdicionarTreino()" >

  <mat-form-field>
    <input type="text" matInput placeholder="nome do treino" formControlName="nome"  />
  </mat-form-field>

  <div>
    <button mat-stroked-button type="button" (click)= "selecionaArquivo.click()" > Selecionar Imagem </button>
    <input type="file" (change)= "onImagemSelecionada($event)" #selecionaArquivo formControlName="imagem">
  </div>
  <div class= "imagem-preview">
    <img [src]= "previewImagem" *ngIf= "previewImagem && previewImagem !=='' && form.get('imagem').valid " [alt]= "form.value.nome">
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Selecione os Exercícios</mat-label>
    <mat-select formControlName="exercicios" multiple formControlName="exercicios" >
      <mat-option *ngFor="let exercicio of listaDeExercicios" [value]="exercicio">{{exercicio.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button color= "primary" mat-raised-button >Inserir novo treino</button>
</form>
